<header class="header sticky-top">
    <h1 class="hide" routerLink="/home" [routerLinkActive]="['text', 'show']" [routerLinkActiveOptions]="{exact: true}">Transporte PORTO ALEGRE</h1>
    <h1 class="hide" routerLink="/lotacao" [routerLinkActive]="['text', 'show']" [routerLinkActiveOptions]="{exact: true}">Linhas de LOTAÇÃO</h1>
    <h1 class="hide" routerLink="/onibus" [routerLinkActive]="['text', 'show']" [routerLinkActiveOptions]="{exact: true}">Linhas de ÔNIBUS</h1>
    <h1 class="hide" routerLink="/itinerario/" [routerLinkActive]="['text', 'show']">ITINERÁRIO</h1>
</header>
