<app-header></app-header>
<div class="center">
    <div class="container-fluid">
        <h1 class="welcome-text display-4">Escolha qual linha consultar</h1>
        <div class="row center-button">
            <div class="col">
                <button class="btn btn-outline-dark btn-lg" data-toggle="tooltip" title="Selecione as linhas de Ônibus" type="button" routerLink="/onibus">Onibus</button>
            </div>
            <div class="col">
                <button class="btn btn-outline-dark btn-lg" data-toggle="tooltip" title="Selecione as linhas de Lotação" routerLink="/lotacao">Lotação</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
